<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp0c3V6aGtqb3RtZXZwY2N0d2x5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjEwNzQ2NjUsImV4cCI6MjA3NjY1MDY2NX0.azByedp7ECPeOyWlrpT55xZsNcXafYEGV4J30vo7UHU</string>
	<key>SUPABASE_URL</key>
	<string>https://ztsuzhkjotmevpcctwly.supabase.co</string>
	<key>OMDB_API_KEY</key>
	<string>c7955ee3</string>
    <key>TMDB_API_KEY</key>
    <string>eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI2OTBiODg1Yjk5MTAyNjBmYjk0MWE2NzE2YTg5MGI3ZCIsIm5iZiI6MTc2MTAxMTcxNC45NjcsInN1YiI6IjY4ZjZlODAyY2NmMDliZTY4MzEwMjE1NSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.ZvaOujU01N1zDXO4WAs0WqtNiGEM0SdejzzKjvjUzjE</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>nflx</string>
        <string>spotify</string>
        <string>disneyplus</string>
        <string>hulu</string>
        <string>max</string>
        <string>primevideo</string>
        <string>youtube</string>
        <string>videos</string>
    </array>
</dict>
</plist>
