<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp0c3V6aGtqb3RtZXZwY2N0d2x5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjEwNzQ2NjUsImV4cCI6MjA3NjY1MDY2NX0.azByedp7ECPeOyWlrpT55xZsNcXafYEGV4J30vo7UHU</string>
	<key>SUPABASE_URL</key>
	<string>https://ztsuzhkjotmevpcctwly.supabase.co</string>
	<key>OMDB_API_KEY</key>
	<string>0385116fdfd5e0cc40a55906c2a762df</string>
    <key>TMDB_API_KEY</key>
    <string>0385116fdfd5e0cc40a55906c2a762df</string>
</dict>
</plist>
